<p id="notice"></p>
<div class="main-container">
   <h1>ABOUT</h1>
   <p>このサイトは「服で繋がる」をテーマとしたファッション交流フリマサイトです。</p>
   <p>お気に入りのユーザーを探し交流することも良し、</p>
   <p>ユーザーの投稿を見てそのまま購入することも良し。</p>
   <p>使い方はあなた次第です。</p>
   <p>お気に入りの洋服、ユーザーを見つけてお楽しみください!</p>
</div>