<div class="title">
  <h3 class="fas fa-crown nav-link ">
    <span class="font">Search Result</span>
  </h3>
</div>

<div class="container">
  <table>
    <!--検索対象モデルがUserの時 -->
    <% if @range == "ユーザー名" %>
      <tbody>
        <% @users.each do |user| %>
        　<tr>
        　  <td>
          <%= attachment_image_tag user, :user_image, :fill, 100, 100 %>
          <%= link_to user_path(user) do %>
            <%= user.nickname %>
          <% end %>
           </td>
          </tr>
        <% end %>
      </tbody>
    <% else %>
      <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
      <tbody>
        <%= render 'items/index', items: @items %>
      </tbody>
    <% end %>
  </table>
</div>