<h4>金額入力</h4>
<%= form_with model:@item, url: new_item_path, method: :post local:true do |f| %>
  <h4>金額</h4>
  <%= f.text_field :price %>円

  <%= f.submit '投稿入力画面へ', class:"btn btn-success" %>
<% end %>