<div class="title">
  <h3 class="fas fa-crown nav-link ">
    <span class="font">My posts</span>
  </h3>
</div>
<% if @item.present? %>
 <h2 class="link">まだ一件も投稿がありません</h2>
<% end %>
  <%= render 'items/index', items: @items %>