// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.parents{
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  text-align: center;
  
}
.back{
  background:#DDDDDD;
}